<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="app@innophi.com" name="app" createdate="2012-04-10">
        <version date="2012-04-10">0.1pre</version>
        <label lang="en_EN">app</label>
        <description lang="en_EN" />
        <license URL="">All rights reserved</license>
        <copyright>2012 Innophi</copyright>
        <creator name="Laurent Jouanneau" email="laurent@innophi.com" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://innophi.com</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.4pre.2325" maxversion="1.4pre.*"/>
    </dependencies>
</module>
