;<?php die(''); ?>
;for security reasons , don't remove or modify the first line
;this file doesn't list all possible properties. See lib/jelix/core/defaultconfig.ini.php for that


[gitiwiki]
booksPath="app:../books"
showRepositoriesList=off

[gitiwikiGenerators]
wiki="gitiwiki~gtwWikiRenderer,gitiwiki_to_xhtml"
gtw="gitiwiki~gtwWikiRenderer,gitiwiki_to_xhtml"


[website]
analytics=on
analyticsUrl=https://bourbon.3liz.com/js/script.js
analyticsDomain=jelix.org
