;<?php die(''); ?>
;for security reasons, don't remove or modify the first line

[gtwrepo]
default=manual-1.6
manual=manual-1.6

[gtwrepo:manual-1.0]
path="app:../repositories/en/jelix-manual-en/.git"
generators=gitiwikiGenerators
branch=jelix-1.0
title="Jelix 1.0 Manual"
gitSourceEditURL="https://github.com/jelix/jelix-manual-en/edit/%branch%/%file%"
gitSourceViewURL="https://github.com/jelix/jelix-manual-en/blob/%branch%/%file%"
linkToDefault=on
order=10
menulabel=1.0
robotsNoIndex=on

[gtwrepo:manual-1.1]
path="app:../repositories/en/jelix-manual-en/.git"
generators=gitiwikiGenerators
branch=jelix-1.1
title="Jelix 1.1 Manual"
gitSourceEditURL="https://github.com/jelix/jelix-manual-en/edit/%branch%/%file%"
gitSourceViewURL="https://github.com/jelix/jelix-manual-en/blob/%branch%/%file%"
linkToDefault=on
order=11
menulabel=1.1
robotsNoIndex=on

[gtwrepo:manual-1.2]
path="app:../repositories/en/jelix-manual-en/.git"
generators=gitiwikiGenerators
branch=jelix-1.2
title="Jelix 1.2 Manual"
gitSourceEditURL="https://github.com/jelix/jelix-manual-en/edit/%branch%/%file%"
gitSourceViewURL="https://github.com/jelix/jelix-manual-en/blob/%branch%/%file%"
linkToDefault=on
order=12
menulabel=1.2
robotsNoIndex=on

[gtwrepo:manual-1.3]
path="app:../repositories/en/jelix-manual-en/.git"
generators=gitiwikiGenerators
branch=jelix-1.3
title="Jelix 1.3 Manual"
gitSourceEditURL="https://github.com/jelix/jelix-manual-en/edit/%branch%/%file%"
gitSourceViewURL="https://github.com/jelix/jelix-manual-en/blob/%branch%/%file%"
linkToDefault=on
order=13
menulabel=1.3
robotsNoIndex=on

[gtwrepo:manual-1.4]
path="app:../repositories/en/jelix-manual-en/.git"
generators=gitiwikiGenerators
branch=jelix-1.4
title="Jelix 1.4 Manual"
gitSourceEditURL="https://github.com/jelix/jelix-manual-en/edit/%branch%/%file%"
gitSourceViewURL="https://github.com/jelix/jelix-manual-en/blob/%branch%/%file%"
linkToDefault=on
order=14
menulabel=1.4
robotsNoIndex=on

[gtwrepo:manual-1.5]
path="app:../repositories/en/jelix-manual-en/.git"
generators=gitiwikiGenerators
branch=jelix-1.5
title="Jelix 1.5 Manual"
gitSourceEditURL="https://github.com/jelix/jelix-manual-en/edit/%branch%/%file%"
gitSourceViewURL="https://github.com/jelix/jelix-manual-en/blob/%branch%/%file%"
linkToDefault=on
order=15
menulabel="1.5"
robotsNoIndex=on

[gtwrepo:manual-1.6]
path="app:../repositories/en/jelix-manual-en/.git"
generators=gitiwikiGenerators
branch="jelix-1.6"
title="Jelix 1.6 Manual"
gitSourceEditURL="https://github.com/jelix/jelix-manual-en/edit/%branch%/%file%"
gitSourceViewURL="https://github.com/jelix/jelix-manual-en/blob/%branch%/%file%"
linkToDefault=off
order=16
menulabel="1.6 Manual"
urlName=manual

[gtwrepo:manual-1.7]
path="app:../repositories/en/jelix-manual-en/.git"
generators=gitiwikiGenerators
branch="master"
title="Jelix 1.7 Manual (not yet updated)"
gitSourceEditURL="https://github.com/jelix/jelix-manual-en/edit/%branch%/%file%"
gitSourceViewURL="https://github.com/jelix/jelix-manual-en/blob/%branch%/%file%"
linkToDefault=on
order=0
menulabel="1.7"
robotsNoIndex=off